# Example backend/.env file
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=your_db_host # Use 'host.docker.internal' if connecting from Docker to a DB on your host machine
DB_PORT=your_db_port
DB_NAME=your_db_name
ENCRYPTION_KEY="your-super-secret-encryption-key-32-chars"
JWT_SECRET="your-super-secret-jwt-key-of-at-least-32-chars"